<footer>
    <div class="footer-container">
        <div class="footer-top">
            <div class="footer-content">
                <img class="logo" src="/assets/Kori_Logo.svg" />
                <p>Life is a cycle of change, and within it, we find our lessons.</p>
                <div class="footer-buttons">
                    <button class="primary btn-icon">
                        Start Kori
                        <img src="/assets/Arrow icon.png" alt="" />
                    </button>
                    <button class="secondary btn-icon">
                        See Pricing
                        <img src="/assets/Calculator icon.png" alt="" />
                    </button>
                </div>
            </div>
            <div class="footer-links">
            </div>
        </div>
        <div class="footer-divider"></div>
        <div class="footer-bottom">
            <span>Designed by Sparc</span>
            <span>Terms and Conditions</span>
        </div>
    </div>
</footer>

@code {

}
