html, body {
    margin: 0 !important;
    overflow-x: hidden;
}

main {
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr repeat(12, 85px) 1fr;
    grid-column-gap: 20px;

    .main-container {
        grid-column: 2 / span 12;
    }
}