@*
    This will be injected into the site via our Kori app. Removing from the design for now.
    (but I went ahead and made the HTML semantic anyway :-p)
<nav>
    <a class="text-dark d-flex align-items-center">
        <img src="/assets/Lang.png" alt="">
        Language
    </a>
    <a class="text-dark d-flex align-items-center">
        <img src="/assets/Blog.png" alt="">
        Blog
    </a>
    <a class="text-dark d-flex align-items-center">
        <img src="/assets/AB.png" alt="">
        Language
    </a>
    <form action="" class="search-form">
        <img src="/assets/Search.png" alt="search">
        Search
    </form>
</nav>

<header>
    <figure>
        <img src="/assets/Kori_Logo.png" alt="Kori">
        <figcaption>Kori | Home</figcaption>
    </figure>
</header>
 *@

<nav>
    <figure>
        <img src="/assets/Kori_Logo.png" alt="logo" />
        <figcaption>Kori</figcaption>
    </figure>
    <ul>
        <li>
            <a href="#">Pricing</a>
        </li>
        <li>
            <a href="#">Contact</a>
        </li>
        <li>
            <a href="#">Blog</a>
        </li>
        <li>
            <a href="#">Login</a>
        </li>
    </ul>
</nav>

