:root {
    --button-filled: #4e45d8;
    --text-primary: #191919;
    --text-secondary: #333;
    --text-inverse: #f2f2f2;
    --text-serif: 'NanumSquareRound';
    --text-serif-800: 'NanumSquareRoundEB';
    --text-sans-serif: 'NanumSquareNeo';
    --text-sans-serif-800: 'NanumSquareNeoExtraBold';
    --aura-text: #191919;
}

html {
    background: transparent;
    color-scheme: light;
    font-size: 16px;
    font: 400 1rem/130% var(--text-sans-serif);
    background-color: #f7f7f1;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--text-serif-800);
    line-height: 1;
}

h1 {
    font-size: 5.5625rem;
    letter-spacing: -0.16688rem;
}

    h1:focus {
        outline: none;
    }

a {
    color: var(--text-secondary);
}

    button, a.button {
        border-radius: 999px;
        background: var(--button-filled);
        padding: 19px 20px;
        font-size: 0.875rem;
        color: var(--text-inverse);
        line-height: 100%;
        font-family: var(--text-sans-serif-800);
    }
