body {
    font-family: poppins;
}
.page-width {
    max-width: 1240px;
    padding: 0 20px;
    margin: auto;
}
h1, h2, h3, h4, h5, h6 {
    font-family: "Cabin", sans-serif !important;
}
.nav-menus a {
    gap: 10px;
}
.nav-menus {
    gap: 20px;
}
.nav-menus a img {
    max-width: 18px;
}
form.search-form img {
    max-width: 20px;
}
.logo  img {
    max-width: 60px;
}
.header-wrapper {
    padding: .8rem 1rem;
    box-shadow: 0px 4px 8px 0px #0000000A;
    border-top: 1px solid #E5E7EA;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}
.buttons  a.button {
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 22.08px;
    text-align: center;
    border-radius: 8px;
    border: 1px solid #363E51;
    gap: 15px;
    padding: 8px 16px;
    color: #363E51;
}
.buttons a.button img {
    max-width: 24px;
}
.buttons a.button.button-fill {
    background-color: #5377FC;
    border-color: #4162DC;
    color: #fff;
    margin-right: 10px;
}
.content h2 {
    font-size: 47px;
    margin-bottom: 20px;
    font-weight: 800;
}
.multicolumn-slide {
    border: 1px solid #363E51;
    border-radius: 40px;
}
.col-md-3:nth-child(1) .multicolumn-slide {
    box-shadow: 8px 8px 0px 0px #7AC4DF;
}
.col-md-3:nth-child(2) .multicolumn-slide {
    box-shadow: 8px 8px 0px 0px #4162DC;
}
.col-md-3:nth-child(3) .multicolumn-slide {
    box-shadow: 8px 8px 0px 0px #FFC240;
}
.col-md-3:nth-child(4) .multicolumn-slide {
    box-shadow: 8px 8px 0px 0px #373E51;
}
.icon img {
    max-width: 32px;
}
.multicolumn-slide h4 {
    font-size: 19px;
    font-weight: 700;
}
.multicolumn-slide p.paragraph {
    color: #1F232B;
    font-size: 15px;
    line-height: 19px;
}
.multicolumn-slide a.button {
    border: 1px solid #363E51;
    font-size: 14px;
    color: #363E51;
    padding: 6px 16px;
    border-radius: 8px;
    line-height: 1;
}
.buttons.button-box a {
    width: fit-content !important;
}
.richcontent {
    max-width: 700px;
    margin: auto;
}
.richcontent  h2 {
    font-size: 35px;
    font-weight: 700;
}
.richcontent  span {
    color: #41BBE9;
    font-weight: 700;
    font-size: 16px;
}
.icon-img img {
    max-width: 130px;
}
.image-with-text-image {
    border: 1px solid #363E51;
    border-radius: 32px;
    overflow: hidden;
}
.bg-box {
    background: #F1F3FE;
    border-radius: 32px;
    width: 100%;
}
.bg-box .row {
    max-width: 1050px;
    margin: auto;
}
.img-txt-bg button.button {
    margin: auto;
    background: #F1F3FE;
    border: 0;
    border-radius: 16px 16px 0 0;
    padding: 10px 20px;
    font-size: 14px;
    color: #4162DC;
}
.img-txt-bg .richcontent span {
    color: #000;
    font-weight: 500;
    font-size: 15px;
}