
h2, figcaption {
    font-family: 'Encode Sans Semi Expanded';
    font-size: 16px;
    font-weight: 400;
    line-height: 160%;
    color: var(--grey-50);
}

p, aside {
    font-family: 'Encode Sans Expanded';
    font-size: 14px;
    font-weight: 400;
    line-height: 140%;
    color: var(--grey-300);
}

button {
    font-family: 'Encode Sans Expanded';
    font-size: 14px;
    font-weight: 400;
    line-height: 140%;
    color: white;
    cursor: pointer;
    transition: 300ms ease-in-out;
    opacity: 0.7;

    &:hover {
        opacity: 1;
    }

    &:active {
        opacity: 0.7;
    }
}

.login-component {
    width: fit-content;
    padding: 12px;
    display: flex;
    flex-direction: row-reverse;
    gap: 16px;
    position: absolute;
    top: 0;
    right: 16px;
    z-index: 1000;

    > button {
        width: 24px;
        height: 24px;
        padding: 0;
        background: #1a1a1a;
        border: none;
        border-radius: 50%;
        cursor: pointer;
        border: 1px solid var(--grey-50);
        border-radius: 50%;

        ::deep svg {
            width: 36px;
            height: auto;
        }
    }

    &.loggedin {
        > button {
            display: none;
            border: 1px solid var(--green-500);
            border-radius: 50%;
        }

        button {
            display: flex;
            gap: 14px;
            align-items: center;

            img {
                margin: 0;
            }
        }
    }

    button {
        padding: 8px 0;
        background: none;
        border: none;
        font-family: 'Encode Sans Expanded';
        font-size: 14px;
        font-weight: 400;
        line-height: 140%;
        text-align: left;
        color: white;
        cursor: pointer;
    }

    section {
        display: none;
        width: 256px;
        height: fit-content;
        padding: 16px 16px 0px 16px;
        position: absolute;
        top: 40px;
        right: 12px;
        background: var(--grey-900);
        border: 1px solid var(--grey-700);
        border-radius: 4px;
        animation: login-component__fadeIn 500ms ease-in-out;
        z-index: 1000;

        &.show {
            display: flex;
            flex-direction: column;
            gap: 16px;
        }
    }

    menu {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 8px;

        hr {
            width: 100%;
            border-bottom: 1px solid rgba(255, 255, 255, 0.80);
        }

        button {
            padding: 8px 0;
            border-radius: 4px;

            img {
                width: 16px;
                height: 16px;
            }
        }

        li button {
            display: flex;
            gap: 14px;
            align-items: center;
            padding: 6px 8px;
            background: var(--grey-800);
            text-align: left;
            transition: 300ms ease-in-out;

            &:hover {
                background: var(--grey-700);
            }

            &:active {
                background: var(--grey-800);
            }

            &__content {
                text-align: left;
            }
        }

        figure {
            width: 100%;
            display: flex;
            align-content: center;
            align-items: center;
            gap: 12px;

            img {
                margin: 0;
            }
        }

        aside {
            width: 100%;
            margin: 12px 0;

            span {
                display: flex;
                align-content: center;
                align-items: center;
                gap: 12px;
            }

            button {
                padding: 0;
            }
        }
    }

    form {
        display: flex;
        flex-direction: column;
        gap: 4px;

        input {
            display: flex;
            flex-direction: column;
            gap: 4px;
            width: 100%;
            height: fit-content;
            padding: 8px 12px;
            background: var(--grey-800);
            border-radius: 4px;
            border: none;
            color: var(--grey-50);
            font-family: 'Encode Sans Expanded';
            font-size: 14px;
            font-weight: 400;
            line-height: 160%;

            &:focus {
                border: var(--grey-50);
                backdrop-filter: brightness(120%);
            }
        }

        button[type=submit] {
            width: 100%;
            padding: 8px 12px;
            background: var(--grey-800);
            font-family: 'Encode Sans Expanded';
            font-size: 14px;
            font-weight: 400;
            line-height: 160%;
            transition: 300ms ease-in-out;

            &:hover {
                background: var(--grey-700);
            }

            &:active {
                background: var(--grey-800);
            }
        }

        label.error {
            margin-top: 8px;
            color: white;
            opacity: 0.7;
        }
    }
}

.overlay {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
}


@keyframes login-component__fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
