.hero {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 30px;
  margin-top: 40px;
  margin-bottom: 30px;
}
.hero .hero-buttons {
  display: flex;
  gap: 16px;
}
.hero button {
  display: inline-block;
}
.hero article {
  width: 715px;
  margin: auto 0;
}
.hero figure img {
  width: 374px;
  height: auto;
}

.feature-cards {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.feature-cards .col-md-3 {
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 287px;
  height: 206px;
}
.feature-cards .col-md-3 .multicolumn-slide {
  margin: auto 0;
}
.feature-cards .col-md-3 p {
  margin-bottom: 0;
}

.kori-ui {
  margin: 240px 0;
}

.features {
  display: flex;
  flex-direction: column;
  gap: 120px;
}
