@page "/"

<PageTitle>Home</PageTitle>

<section class="hero">
    <article>
        <h2>Improve your content with purpose</h2>
        <p>
            Kori is a widget that creates a human-centered feedback loop, ensuring that your contents and services are developed, and refined based on real user needs and preferences.
        </p>
        <div class="align-button ">
            <button>
                Start Kori
                <img src="/assets/Trailing Icon.png" alt="Icon" />
            </button>
            <button class="secondary">
                See Pricing
                <img src="/assets/Trailing Icon (1).png" alt="Icon" />
            </button>
        </div>
    </article>
    <figure>
        <img src="/assets/Circle.png" alt="Hero Image">
    </figure>
</section>

<section class="multicolumns">
    <article class="multicolumn-slide">
        <figure>
            <img src="/assets/Edit 2.png" alt="Edit Icon">
        </figure>
        <h2>Manage content</h2>
        <p>Edit text and media content directly on-site without having to involve a developer.</p>
        <a href="#" class="button secondary" aria-label="Learn more about managing content">Learn More</a>
    </article>

    <article class="multicolumn-slide">
        <figure>
            <img src="/assets/Icon (1).png" alt="Translate Icon">
        </figure>
        <h2>Translate contents</h2>
        <p>Translate up to 130+ languages to match viewers’ language profile.</p>
        <a href="#" class="button secondary" aria-label="Learn more about translating content">Learn More</a>
    </article>

    <article class="multicolumn-slide">
        <figure>
            <img src="/assets/manageBlog.png" alt="Blog Icon">
        </figure>
        <h2>Manage Blogs</h2>
        <p>Create, customize, and manage blog pages with editable content and slugs.</p>
        <a href="#" class="button secondary" aria-label="Learn more about managing blogs">Learn More</a>
    </article>

    <article class="multicolumn-slide">
        <figure>
            <img src="/assets/abTesting.png" alt="A/B Testing Icon">
        </figure>
        <h2>A/B Testing</h2>
        <p>Create, analyze, and implement A/B tests to optimize your results.</p>
        <a href="#" class="button secondary" aria-label="Learn more about A/B testing">Learn More</a>
    </article>
</section>

<section class="richtext">
    <article class="richcontent text-center">
        <span>On-site content widget</span>
        <h2>Explore Kori User Interface</h2>
        <p>Admins can easily edit content on-site, manage blog pages, and run A/B tests using the Kori widget, helping to create engaging content for their audience.</p>
        <div class="buttons">
            <a href="#" class="button" aria-label="Add Kori to your site">Add Kori to your site</a>
        </div>
    </article>
    <figure>
        <img src="/assets/Info.png" alt="Graph showing content data">
    </figure>
</section>

<section class="richtext">
    <article class="richcontent text-center">
        <span>Learn and try</span>
        <h2>Feature Guide</h2>
        <p>Discover how Kori works with our easy-to-follow guide! Watch videos and try out the Kori widget.</p>
        <div class="buttons">
            <a href="#" class="button" aria-label="Add Kori to your site">Add Kori to your site</a>
        </div>
    </article>
</section>

<section class="left-right-boxes">
    <section class="image-with-text" aria-labelledby="feature-guide">
        <article class="content-section" aria-labelledby="on-site-content-editing">
            <figure class="icon-img mb-2">
                <img src="/assets/Component 1.png" alt="On-site Content Editing" class="icon-img__image">
            </figure>
            <div class="richcontent text-left">
                <span class="feature-label">Intuitive work</span>
                <h2 id="on-site-content-editing">On-site Content Editing</h2>
                <div class="content">
                    <p>Hover your cursor over any editable content to see a blue outline, then click to start editing. Once you’re finished, simply click outside the box. The text will be live immediately, with no need to re-publish again.</p>
                    <p>There are two types of editable content: text and media.</p>
                    <ul>
                        <li>For text, the markdown editor will appear on the Kori widget.</li>
                        <li>For media, you can delete, replace, or upload new items such as images and videos.</li>
                    </ul>
                </div>
            </div>
        </article>

        <article class="image-with-text-image" aria-labelledby="kori-visual-representation">
            <figure class="media">
                <img src="/assets/Rectangle 77.png" alt="Visual representation of Kori widget" class="media__image">
            </figure>
        </article>
    </section>

    <section class="image-with-text">
        <article class="content-section">
            <figure class="icon-img mb-2">
                <img src="/assets/Elemental_1.png" alt="On-site Content Editing" class="icon-img__image">
            </figure>
            <div class="richcontent text-left">
                <span class="feature-label">Come as you are</span>
                <h2 id="on-site-content-editing">Translate and Improve</h2>
                <div class="content">
                    <p>Write content in the languages you find most natural. Kori supports translations in 139 languages. If you’re concerned about how the translation turns out, don’t worry—you can review and make changes anytime! You can also change the translated language and save your own translations.</p>
                </div>
            </div>
        </article>

        <article class="image-with-text-image" aria-labelledby="kori-visual-representation">
            <figure class="media">
                <img src="/assets/Rectangle 77.png" alt="Visual representation of Kori widget" class="media__image">
            </figure>
        </article>
    </section>
    <section class="image-with-text">
        <article class="content-section">
            <figure class="icon-img mb-2">
                <img src="/assets/Elemental_244.png" alt="On-site Content Editing" class="icon-img__image">
            </figure>
            <div class="richcontent text-left">
                <span class="feature-label">All-in-one kit</span>
                <h2 id="on-site-content-editing">Create and Manage Blogs</h2>
                <div class="content">
                    <p>Create blog pages with customizable slugs and edit contents in real time. You can hide your blog page until your creative session is complete. If you’re on a blog page, you can also change the slug or delete the page.</p>
                </div>
            </div>
        </article>

        <article class="image-with-text-image" aria-labelledby="kori-visual-representation">
            <figure class="media">
                <img src="/assets/Rectangle 77.png" alt="Visual representation of Kori widget" class="media__image">
            </figure>
        </article>
    </section>
    <section class="image-with-text">
        <article class="content-section">
            <figure class="icon-img mb-2">
                <img src="/assets/Component 255.png" alt="On-site Content Editing" class="icon-img__image">
            </figure>
            <div class="richcontent text-left">
                <span class="feature-label">Analyze and adopt</span>
                <h2 id="on-site-content-editing">Discover your potential</h2>
                <div class="content">
                    <p>We can help you find the most engaging content for your audience. Simply create A/B tests on any pages with editable content or blog pages. You can review the analysis, apply the more effective version.</p>
                </div>
            </div>
        </article>

        <article class="image-with-text-image" aria-labelledby="kori-visual-representation">
            <figure class="media">
                <img src="/assets/Rectangle 77.png" alt="Visual representation of Kori widget" class="media__image">
            </figure>
        </article>
    </section>
</section>


