@page "/"

<PageTitle>Home</PageTitle>

<section class="banner-section">
    <div class="main-content row justify-content-between align-items-center py-5">
        <div class="col-md-7">
            <div class="content">
                <h2>Improve your content with purpose</h2>
                <div class="paragraph mb-4">Kori is a widget that creates a human-centered feedback loop, ensuring that your contents and services are developed, and refined based on real user needs and preferences. This approach enhances user satisfaction and quality of your contents.</div>
                <div class="buttons d-flex align-items-center">
                    <a class="button button-fill">Start Kori<img src="/assets/Trailing Icon.png" alt="" class="d-block w-100"></a>
                    <a class="button">See Pricing<img src="/assets/Trailing Icon (1).png" alt="" class="d-block w-100"></a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="image">
                <img src="/assets/Circle.png" alt="" class="d-block w-100">
            </div>
        </div>
    </div>
</section>

<section class="multicolumns">
    <div class="main-columns row pb-5">
        <div class="col-md-3">
            <div class="multicolumn-slide p-4">
                <div class="icon mb-2"><img src="/assets/Edit 2.png" alt="" class="d-block w-100"></div>
                <h4>Manage content</h4>
                <p class="paragraph">Edit text and media content directly on-site without having to involve a developer</p>
                <a href="" class="button">Learn More</a>
            </div>
        </div>

        <div class="col-md-3">
            <div class="multicolumn-slide p-4">
                <div class="icon mb-2"><img src="/assets/Icon (1).png" alt="" class="d-block w-100"></div>
                <h4>Translate contents</h4>
                <p class="paragraph">Translate up to 130+ languages to match viewers’ language profile</p>
                <a href="" class="button">Learn More</a>
            </div>
        </div>

        <div class="col-md-3">
            <div class="multicolumn-slide p-4">
                <div class="icon mb-2"><img src="/assets/manageBlog.png" alt="" class="d-block w-100"></div>
                <h4>Manage Blogs</h4>
                <p class="paragraph">Create, customize, and manage blog pages with editable content and slugs.</p>
                <a href="" class="button">Learn More</a>
            </div>
        </div>

        <div class="col-md-3">
            <div class="multicolumn-slide p-4">
                <div class="icon mb-2"><img src="/assets/abTesting.png" alt="" class="d-block w-100"></div>
                <h4>A/B Testing</h4>
                <p class="paragraph">Create, analyze, and implement A/B tests to optimize your results</p>
                <a href="" class="button">Learn More</a>
            </div>
        </div>
    </div>
</section>

<section class="richtext py-5">
    <div class="row">
        <div class="richcontent text-center pb-5">
            <span>On-site content widget</span>
            <h2>Explore Kori User Interface</h2>
            <div class="content">Admins can easily edit content on-site, manage blog pages, and run A/B tests using the Kori widget, helping to create engaging content for their audience.</div>
            <div class="buttons button-box mt-4"><a href="" class="button button-fill mx-auto text-center w-auto">Add Kori to your site</a></div>
        </div>

        <div class="page-graph-image">
            <img src="/assets/Info.png" alt="" class="d-block w-100">
        </div>
    </div>
</section>

<section class="image-with-text pb-5">
    <div class="row pb-5">
        <div class="richcontent text-center pb-5">
            <span>Learn and try</span>
            <h2>Feature Guide</h2>
            <div class="content">Discover how Kori works with our easy-to-follow guide! Watch videos and try out the Kori widget.</div>
            <div class="buttons button-box mt-4"><a href="" class="button button-fill mx-auto text-center w-auto">Add Kori to your site</a></div>
        </div>
    </div>

    <div class="row align-items-center">
        <div class="col-md-6">
            <div class="content-wrapper px-4">
                <div class="icon-img mb-2"><img src="/assets/Elemental_1.png" alt="" class="d-block w-100"></div>
                <div class="richcontent text-left">
                    <span>Intuitive work</span>
                    <h2>On-site Content Editing</h2>
                    <div class="content">
                        Hover your cursor over any editable content to see a blue outline, then click to start editing. Once you’re finished, simply click outside the box. The text will be live immediately, with no need to re-publish again.
                        <br>
                        There are two types of editable content: text and media.
                        <ul>
                            <li>For text, the markdown editor will appear on the Kori widget.</li>
                            <li>For media, you can delete, replace, or upload new items such as images and videos.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="image-with-text-image" style="box-shadow: 8px 8px 0px 0px #7AC4DF;">
                <div class="media"><img class="d-block w-100" src="/assets/Rectangle 77.png" alt=""></div>
            </div>
        </div>
    </div>
</section>

<section class="image-with-text img-txt-bg">
    <div class="row">
        <button class="button">Give it a try !</button>
        <div class="bg-box py-5">
            <div class="row align-items-center">
                <div class="col-md-7">
                    <div class="richcontent text-left">
                        <span>Helpful subtitle</span>
                        <h2>Here Goes Amazing Title</h2>
                        <div class="content">In this tutorial box, you can click any text contents or media content to experience on-site editing. Kori simply helps you find the most effective ways to communicate with your audiences. You can test the Kori widget yourself or follow the steps from the guide video.</div>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="image"><img class="d-block w-100" src="/assets/Image (11).png" alt=""></div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="image-with-text py-5">
    <div class="row align-items-center">
        <div class="col-md-6">
            <div class="content-wrapper px-4">
                <div class="icon-img mb-2"><img src="/assets/Component 1.png" alt="" class="d-block w-100"></div>
                <div class="richcontent text-left">
                    <span style="color: #4162DC;">Come as you are</span>
                    <h2>Translate and Improve</h2>
                    <div class="content">
                        Write content in the languages you find most natural. Kori supports translations in 139 languages. If you’re concerned about how the translation turns out, don’t worry—you can review and make changes anytime! You can also change the translated language and save your own translations.
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="image-with-text-image" style="box-shadow: 8px 8px 0px 0px #4162DC;">
                <div class="media"><img class="d-block w-100" src="/assets/Rectangle 77.png" alt=""></div>
            </div>
        </div>
    </div>
</section>

<section class="image-with-text img-txt-bg">
    <div class="row">
        <button class="button">Give it a try !</button>
        <div class="bg-box py-5">
            <div class="row align-items-center">
                <div class="col-md-7">
                    <div class="richcontent text-left">
                        <span>Helpful subtitle</span>
                        <h2>Here Goes Amazing Title</h2>
                        <div class="content">In this tutorial box, you can click any text contents or media content to experience on-site editing. Kori simply helps you find the most effective ways to communicate with your audiences. You can test the Kori widget yourself or follow the steps from the guide video.</div>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="image"><img class="d-block w-100" src="/assets/Image (11).png" alt=""></div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="image-with-text py-5">
    <div class="row align-items-center">
        <div class="col-md-6">
            <div class="content-wrapper px-4">
                <div class="icon-img mb-2"><img src="/assets/Elemental_244.png" alt="" class="d-block w-100"></div>
                <div class="richcontent text-left">
                    <span style="color: #DD9804;">All-in-one kit</span>
                    <h2>Create and Manage Blogs</h2>
                    <div class="content">
                        Create blog pages with customizable slugs and edit contents in real time. You can hide your blog page until your creative session is complete. If you’re on a blog page, you can also change the slug or delete the page.
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="image-with-text-image" style="box-shadow: 8px 8px 0px 0px #FFC240;">
                <div class="media"><img class="d-block w-100" src="/assets/Rectangle 77.png" alt=""></div>
            </div>
        </div>
    </div>
</section>

<section class="image-with-text img-txt-bg">
    <div class="row">
        <button class="button">Give it a try !</button>
        <div class="bg-box py-5">
            <div class="row align-items-center">
                <div class="col-md-7">
                    <div class="richcontent text-left">
                        <span>Helpful subtitle</span>
                        <h2>Here Goes Amazing Title</h2>
                        <div class="content">In this tutorial box, you can click any text contents or media content to experience on-site editing. Kori simply helps you find the most effective ways to communicate with your audiences. You can test the Kori widget yourself or follow the steps from the guide video.</div>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="image"><img class="d-block w-100" src="/assets/Image (11).png" alt=""></div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="image-with-text py-5">
    <div class="row align-items-center">
        <div class="col-md-6">
            <div class="content-wrapper px-4">
                <div class="icon-img mb-2"><img src="/assets/Component 255.png" alt="" class="d-block w-100"></div>
                <div class="richcontent text-left">
                    <span style="color: #5E6A85;">Analyze and adopt</span>
                    <h2>Discover your potential</h2>
                    <div class="content">
                        We can help you find the most engaging content for your audience. Simply create A/B tests on any pages with editable content or blog pages. You can review the analysis, apply the more effective version.
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="image-with-text-image" style="box-shadow: 8px 8px 0px 0px #373E51;">
                <div class="media"><img class="d-block w-100" src="/assets/Rectangle 77.png" alt=""></div>
            </div>
        </div>
    </div>
</section>

<section class="image-with-text img-txt-bg">
    <div class="row">
        <button class="button">Give it a try !</button>
        <div class="bg-box py-5">
            <div class="row align-items-center">
                <div class="col-md-7">
                    <div class="richcontent text-left">
                        <span>Helpful subtitle</span>
                        <h2>Here Goes Amazing Title</h2>
                        <div class="content">In this tutorial box, you can click any text contents or media content to experience on-site editing. Kori simply helps you find the most effective ways to communicate with your audiences. You can test the Kori widget yourself or follow the steps from the guide video.</div>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="image"><img class="d-block w-100" src="/assets/Image (11).png" alt=""></div>
                </div>
            </div>
        </div>
    </div>
</section>
