<button class="top-bar-button @(IsSelected ? "selected" : "")" @onclick="ModeChanged" @onmouseover="Hover" @onmouseout="StopHover">
    <img src="@IconPath" alt="@Mode icon" class="icon normal-icon" />
    <span class="btn-text">@Mode</span>
</button>

@code {
    [Parameter] public required string Mode { get; set; }
    [Parameter] public required string Icon { get; set; }
    [Parameter] public EventCallback<string> OnClick { get; set; }

    bool IsHovering;
    void Hover() => IsHovering = true;
    void StopHover() => IsHovering = false;
    async Task ModeChanged() => await OnClick.InvokeAsync(Mode);

    bool IsSelected => Kori.Mode == Mode;
    string IconPath => IsSelected ? $"_content/Sparc.Kori/icons/{Icon}-selected.svg"
    : IsHovering ? $"_content/Sparc.Kori/icons/{Icon}-hover.svg"
    : $"_content/Sparc.Kori/icons/{Icon}.svg";
}