.kori-ignore {
  -webkit-text-stroke: initial;
}

#kori-top-bar {
  display: none;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  flex-direction: column;
  z-index: 1000;
  background: var(--white);
  font-family: "ArticulatCF";
  font-weight: 500;
  line-height: normal;
  cursor: default;
}
#kori-top-bar.show {
  display: flex;
}
#kori-top-bar .btn-text, #kori-top-bar .content {
  font-family: "ArticulatCF";
  font-weight: 500;
  color: #485269;
  font-size: 14px;
  font-style: normal;
}
#kori-top-bar section {
  width: 100%;
}
#kori-top-bar .top-bar-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  padding: 6px 16px;
  gap: 8px;
}
#kori-top-bar .top-bar-buttons .hidden {
  display: none;
}
#kori-top-bar .top-bar-buttons .left-buttons, #kori-top-bar .top-bar-buttons .right-buttons {
  display: flex;
  align-items: center;
  gap: 8px;
}
#kori-top-bar .top-bar-buttons .right-buttons .top-bar-button {
  width: 40px;
}
#kori-top-bar .top-bar-buttons .left-buttons .toggle-button {
  width: 28px;
  height: 28px;
  padding: 0;
  background: none;
  box-shadow: none;
  cursor: pointer;
  transition: background 0.3s ease;
}
#kori-top-bar .top-bar-buttons .left-buttons .toggle-button:hover {
  background: #EEF2FA;
  border-radius: 50%;
}
#kori-top-bar .top-bar-buttons .left-buttons .toggle-button img {
  width: 28px;
  height: 28px;
  margin: auto;
  cursor: pointer;
}
#kori-top-bar .top-bar-buttons .left-buttons .toggle-button.toggle-off img {
  width: 24px;
  height: 24px;
  margin-top: -1px;
}
#kori-top-bar .top-bar-buttons .left-buttons .toggle-button.toggle-off:active {
  transform: scale(0.9);
}
#kori-top-bar .bottom-bar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 8px 16px;
  height: 44px;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.04), 0px 0px 2px 0px rgba(0, 0, 0, 0.06), 0px 0px 1px 0px rgba(0, 0, 0, 0.04);
}
#kori-top-bar .bottom-bar header {
  display: flex;
  margin: 0 !important;
  width: fit-content !important;
}
#kori-top-bar .bottom-bar header img {
  width: 60px;
  height: auto;
  margin-top: -4px;
}
#kori-top-bar .bottom-bar .content {
  width: 100%;
  display: flex;
  flex-grow: 1;
  justify-content: center;
  padding-right: 76px;
  text-align: center;
}
#kori-top-bar .bottom-bar .content button {
  display: flex;
  width: 32px;
  height: 32px;
  padding: 8px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  border: 1px solid #4162DC;
  background: #5377FC;
  font-family: "ArticulatCF";
  font-size: 14px;
  font-style: normal;
  transition: all 0.3s ease-in-out;
}
#kori-top-bar .bottom-bar .content button.icon-btn svg {
  margin-top: 0 !important;
}
#kori-top-bar .bottom-bar .content button:hover {
  background: #EEF2FA;
  color: #5377FC;
  border-color: transparent;
}
#kori-top-bar .bottom-bar .content button:active {
  background: #EEF2FA;
  color: #4162DC;
  border-color: transparent;
}
