<section id="@_id" class="kori-content">
    @ChildContent
</section>

@inject KoriLocalizer K
@code {
    [Parameter] public RenderFragment? ChildContent { get; set; }

    string _id = $"kori-{Guid.NewGuid()}";

    protected override async Task OnInitializedAsync()
    {
        await K.InitializeAsync();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
            await K.OnAfterRenderAsync("#" + _id);
    }
}