.kori-top-bar {
  display: none;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  flex-direction: column;
  z-index: 1000;
  background: var(--white);
  cursor: default;
}
.kori-top-bar.show {
  display: flex;
}
.kori-top-bar .btn-text, .kori-top-bar .content {
  font-family: "ArticulatCF";
  font-weight: 500;
  color: #485269;
  font-size: 14px;
  font-style: normal;
}
.kori-top-bar .top-bar-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 16px;
  gap: 8px;
  border: 1px solid #E5E7EA;
}
.kori-top-bar .top-bar-buttons .hidden {
  display: none;
}
.kori-top-bar .top-bar-buttons .left-buttons, .kori-top-bar .top-bar-buttons .right-buttons {
  display: flex;
  align-items: center;
}
.kori-top-bar .top-bar-buttons .right-buttons .top-bar-button {
  width: 40px;
}
.kori-top-bar .top-bar-buttons .left-buttons .toggle-button {
  padding: 0;
  background: none;
  box-shadow: none;
}
.kori-top-bar .bottom-bar {
  display: flex;
  align-items: center;
  padding: 8px 16px;
  height: 60px;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.04), 0px 0px 2px 0px rgba(0, 0, 0, 0.06), 0px 0px 1px 0px rgba(0, 0, 0, 0.04);
}
.kori-top-bar .bottom-bar .logo {
  margin-right: auto;
  display: flex;
}
.kori-top-bar .bottom-bar .logo img {
  width: 60px;
  height: 27px;
}
.kori-top-bar .bottom-bar .content {
  flex-grow: 1;
  text-align: center;
  padding-right: 76px;
  gap: 4px;
  justify-content: center;
  display: flex;
}
