.kori-ignore {
    -webkit-text-stroke: initial;
}

.kori-top-bar {
    display: none;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    flex-direction: column;
    z-index: 1000;
    background: var(--white);
    font-family: 'ArticulatCF';
    font-weight: 500;
    line-height: normal;
    cursor: default;

    &.show {
        display: flex;
    }

    .btn-text, .content {
        font-family: 'ArticulatCF';
        font-weight: 500;
        color: #485269;
        font-size: 14px;
        font-style: normal;
    }

    section {
        width: 100%;
    }

    .top-bar-buttons {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 40px;
        padding: 6px 16px;
        gap: 8px;

        .hidden {
            display: none;
        }

        .left-buttons, .right-buttons {
            display: flex;
            align-items: center;
            gap: 8px;
        }

        .right-buttons {
            .top-bar-button {
                width: 40px;
            }
        }

        .left-buttons {
            .toggle-button {
                width: 28px;
                height: 28px;
                padding: 0;
                background: none;
                box-shadow: none;
                cursor: pointer;
                transition: background 0.3s ease;

                &:hover {
                    background: #EEF2FA;
                    border-radius: 50%;
                }

                img {
                    width: 28px;
                    height: 28px;
                    margin: auto;
                    cursor: pointer;
                }

                &.toggle-off {
                    img {
                        width: 24px;
                        height: 24px;
                        margin-top: -1px;
                    }

                    &:active {
                        transform: scale(0.9);
                    }
                }
            }
        }
    }

    .bottom-bar {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 8px 16px;
        height: 44px;
        box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.04), 0px 0px 2px 0px rgba(0, 0, 0, 0.06), 0px 0px 1px 0px rgba(0, 0, 0, 0.04);

        header {
            display: flex;
            margin: 0 !important;
            width: fit-content !important;

            img {
                width: 60px;
                height: auto;
                margin-top: -4px;
            }
        }

        .content {
            width: 100%;
            display: flex;
            flex-grow: 1;
            justify-content: center;
            padding-right: 76px;
            text-align: center;

            button {
                cursor: pointer;
            }

            img {
                cursor: pointer;
            }
        }
    }
}
