<div id="kori-top-bar" class="kori-top-bar kori-ignore">
    <div class="top-bar-buttons">
        <div class="left-buttons">
            <button class="top-bar-button toggle-button @(isToggledOn ? "toggle-on" : "toggle-off")" @onclick="TogglePower">
                <img src="@PowerIcon" alt="Toggle icon" class="icon icon-on-off" />
            </button>
            <KoriTopBarButton Mode="Language" Icon="Lang" OnClick="Kori.ChangeMode" />
            <KoriTopBarButton Mode="Blog" Icon="Blog" OnClick="Kori.ChangeMode" />
            <KoriTopBarButton Mode="A/B Testing" Icon="AB" OnClick="Kori.ChangeMode" />
        </div>
        <div class="right-buttons">
            <KoriTopBarButton Mode="Search" Icon="Search2" OnClick="Kori.ChangeMode" />
            <KoriTopBarButton Mode="History" Icon="History" OnClick="Kori.ChangeMode" />
            <KoriTopBarButton Mode="Tutorial" Icon="Tutorial" OnClick="Kori.ChangeMode" />
        </div>
    </div>
</div>

<div class="bottom-bar">
    <div class="logo">
        <img src="/_content/Sparc.Kori/images/Kori_Logo.svg" alt="Logo" />
    </div>
    <div class="content">
        @switch (Kori.Mode)
        {
            case "Search":
                <Sparc.Kori.Search.SearchMode />
                break;
            case "Language":
                <Sparc.Kori.Content.LanguageMode />
                break;
            case "Blog":
                <Sparc.Kori.Blog.BlogMode />
                break;
            case "ABTesting":
                <Sparc.Kori.ABTesting.ABTestingMode />
                break;
            case "Edit":
                <Sparc.Kori.Content.EditTextMode />
                break;
            case "EditImage":
                <Sparc.Kori.Images.EditImageMode />
                break;
            default:
                <DefaultMode />
                break;
        }
    </div>
</div>

@code {
    bool isToggledOn = false;
    void TogglePower() => isToggledOn = !isToggledOn;
    string PowerIcon => isToggledOn ? "_content/Sparc.Kori/icons/On.svg" : "_content/Sparc.Kori/icons/Off.svg";
}

