@page "/home"

<PageTitle>Kori</PageTitle>

<div class="landing">
    <section class="hero">
        <div class="hero-wrapper">
            <article>
                <h2>Improve your content with 
                    <span>
                        purpose
                        <img class="hero-scribble" src="/assets/Circle scribble.svg" />
                    </span>
                </h2>
                <p>
                    Kori is a widget that creates a human-centered feedback loop, 
                    ensuring that your contents and services are developed, and refined 
                    based on real user needs and preferences. This approach enhances user 
                    satisfaction and quality of your contents.
                </p>
                <div class="hero-buttons">
                    <button class="primary btn-icon">
                        <span>Start Kori</span>
                        <img src="/assets/Arrow icon.png" alt="" />
                    </button>
                    <button class="secondary btn-icon">
                        <span>See Pricing</span>
                        <img src="/assets/Calculator icon.png" alt="" />
                    </button>
                </div>
            </article>
            <figure>
                <img class="hero-circle" src="/assets/Hero circle.svg" alt="Hero image">
                <img class="hero-wide" src="/assets/Hero wide.svg" alt="Hero image">
            </figure>
        </div>
        <div class="feature-cards">
            <div class="feature-card">
                <h4>Manage content</h4>
                <p class="paragraph">Edit text and media content directly on-site without having to involve a developer</p>
                <a href="" class="button secondary btn-text">Learn More</a>
            </div>

            <div class="feature-card">
                <h4>Translate contents</h4>
                <p class="paragraph">Translate up to 130+ languages to match viewers’ language profile</p>
                <a href="" class="button secondary btn-text">Learn More</a>
            </div>

            <div class="feature-card">
                <h4>Manage Blogs</h4>
                <p class="paragraph">Create, customize, and manage blog pages with editable content and slugs.</p>
                <a href="" class="button secondary btn-text">Learn More</a>
            </div>

            <div class="feature-card">
                <h4>A/B Testing</h4>
                <p>Create, analyze, and implement A/B tests to optimize your results</p>
                <a href="" class="button secondary btn-text">Learn More</a>
            </div>

        </div>
    </section>

    <section class="landing-section kori-ui">
        <div class="section-header">
            <span class="subheader">On-site content widget</span>
            <h2>Explore Kori User Interface</h2>
            <p>
                Admins can easily edit content on-site, manage blog pages, and run A/B tests using the Kori widget, helping to create engaging content for their audience.
            </p>
            <div class="section-buttons">
                <a href="" class="button primary btn-text">Add Kori to your site</a>
            </div>
        </div>
        <div class="ui-image">
            <img class="info-desktop" src="/assets/Info desktop.svg" alt="Kori UI Preview">
            <img class="info-tablet" src="/assets/Info tablet.svg" alt="Kori UI Preview">
            <img class="info-mobile" src="/assets/Info mobile.svg" alt="Kori UI Preview">
        </div>
    </section>

    <section class="landing-section kori-features">
        <div class="section-header">
            <span class="subheader">Learn and try</span>
            <h2>Feature Guide</h2>
            <p>
                Discover how Kori works with our easy-to-follow guide! Watch videos and try out the Kori widget.
            </p>
            <div class="section-buttons">
                <a href="" class="button primary btn-text">Add Kori to your site</a>
            </div>
        </div>
        <div class="features-wrapper">
            <div class="feature">
                <div class="feature-content">
                    <div class="feature-character">
                        <lottie-player id="lottie-language" class="kori-character hover-play" alt="Translation" src="https://lottie.host/3136d56c-1d0d-453e-a1e8-719e4cbb2d17/sy4kSioNM0.json" background="transparent" speed="1" />
                    </div>
                    <div class="feature-text">
                        <span class="subheader" style="color: #4162DC;">Intuitive work</span>
                        <h3>On-site Content Editing</h3>
                        <div class="feature-image img-mobile">
                            <lottie-player class="kori-preview" alt="Content Editor Preview" src="https://lottie.host/548db294-63a1-4994-9c51-f7fdf5bb8151/X35nMXmhNy.json" background="transparent" speed="1" direction="1" playMode="normal" autoplay loop />
                        </div>
                        <p>
                            Hover your cursor over any editable content to see a blue outline, then click to start editing. Once you’re finished, simply click outside the box. The text will be live immediately, with no need to re-publish again.
                        </p>
                        <br />
                        <p>
                            There are two types of editable content: text and media.
                            <ul>
                                <li>For text, the markdown editor will appear on the Kori widget.</li>
                                <li>For media, you can delete, replace, or upload new items such as images and videos.</li>
                            </ul>
                        </p>
                    </div>
                </div>
                <div class="feature-image img-desktop">
                    <lottie-player class="kori-preview" alt="Content Editor Preview" src="https://lottie.host/548db294-63a1-4994-9c51-f7fdf5bb8151/X35nMXmhNy.json" background="transparent" speed="1" direction="1" playMode="normal" autoplay loop />
                </div>
            </div>

            <div class="feature">
                <div class="feature-content">
                    <div class="feature-character">
                        <lottie-player id="lottie-language" class="kori-character hover-play" alt="Translation"  src="https://lottie.host/b85a1293-5987-4bf3-92b9-ebc2335ced71/XbOOqKhyBc.json" background="transparent" speed="1" />
                    </div>
                    <div class="feature-text">
                        <span class="subheader" style="color: #41BBE9">Come as you are</span>
                        <h3>Translate and Improve</h3>
                        <div class="feature-image img-mobile">
                            <img src="/assets/Tutorial_translation.png" alt="Translation Preview">
                        </div>
                        <p>
                            Write content in the languages you find most natural. Kori supports translations in 139 languages. If you’re concerned about how the translation turns out, don’t worry—you can review and make changes anytime! You can also change the translated language and save your own translations.
                        </p>
                    </div>
                </div>
                <div class="feature-image img-desktop">
                    <img src="/assets/Tutorial_translation.png" alt="Translation Preview">
                </div>
            </div>

            <div class="feature">
                <div class="feature-content">
                    <div class="feature-character">
                        <lottie-player id="lottie-blog" class="kori-character hover-play" alt="Translation" src="https://lottie.host/3dad6d31-0db1-4978-a2e7-9cf0d73700de/8EQnanT1uR.json" background="transparent" speed="1" />
                    </div>
                    <div class="feature-text">
                        <span class="subheader" style="color: #DD9804;">All-in-one kit</span>
                        <h3>Create and Manage Blogs</h3>
                        <div class="feature-image img-mobile">
                            <lottie-player class="kori-preview" alt="Blog Preview" src="https://lottie.host/7f8f14aa-d6a2-4bfd-9460-9f87bfbb2d58/SKQqAIwTwE.json" background="transparent" speed="1" direction="1" playMode="normal" autoplay loop />
                        </div>
                        <p>
                            Create blog pages with customizable slugs and edit contents in real time. You can hide your blog page until your creative session is complete. If you’re on a blog page, you can also change the slug or delete the page.
                        </p>
                    </div>
                </div>
                <div class="feature-image img-desktop">
                    <lottie-player class="kori-preview" alt="Blog Preview" src="https://lottie.host/7f8f14aa-d6a2-4bfd-9460-9f87bfbb2d58/SKQqAIwTwE.json" background="transparent" speed="1" direction="1" playMode="normal" autoplay loop />
                </div>
            </div>

            <div class="feature">
                <div class="feature-content">
                    <div class="feature-character">
                        <lottie-player id="lottie-AB" class="kori-character hover-play" alt="A/B Testing" src="https://lottie.host/cce5a011-8974-4e4d-8054-a7975fa65a48/pnEL3pIaEg.json" background="transparent" speed="1" direction="1" playMode="normal" />
                    </div>
                    <div class="feature-text">
                        <span class="subheader" style="color: #5E6A85;">Analyze and adopt</span>
                        <h3>Discover your potential</h3>
                        <div class="feature-image img-mobile">
                            <img src="/assets/Tutorial_AB.png" alt="A/b Testing Preview">
                        </div>
                        <p>
                            We can help you find the most engaging content for your audience. Simply create A/B tests on any pages with editable content or blog pages. You can review the analysis, apply the more effective version.
                        </p>
                    </div>
                </div>
                <div class="feature-image img-desktop">
                    <img src="/assets/Tutorial_AB.png" alt="A/b Testing Preview">
                </div>
            </div>
        </div>
    </section>
    @* <section class="landing-section kori-faq">
    </section> *@
</div>

<script>
    let lottieFiles = document.querySelectorAll(".kori-character.hover-play");

    lottieFiles.forEach((player) => {
        player.addEventListener("ready", () => {
            let idString = "#" + player.id;
            console.log(idString);
            LottieInteractivity.create({
                player: idString,
                mode:"cursor",
                actions: [ { type: "hover", forceFlag: false } ]
            });
        });
    });
</script>

@code {
}