.kori-blog {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 4px;
}
.kori-blog input {
  padding: 8px 16px;
  text-align: start;
  border-radius: 8px;
  border: 1px solid #CCD5EB;
  width: 195px;
  height: 32px;
  justify-content: center;
  align-items: center;
  font-family: "ArticulatCF";
  font-size: 14px;
}
.kori-blog input::placeholder {
  color: #485269;
  font-family: "ArticulatCF";
  font-size: 14px;
}
