<div id="kori-blog" onclick="event.stopPropagation()">
    <div class="kori-blog__input">
        <input id="kori-slug-input" type="text" placeholder="Type blog slug" />
    </div>
    <div class="kori-blog__button">
        <button class="kori-btn__primary">Create New</button>
    </div>
</div>