<section id="default-mode">
    <p>@Nav.Uri</p>
    <hr />
    <p>@GetPageName()</p>
</section>

@code {
    private string GetPageName()
    {
        var cleanUri = Nav.Uri.Split('?')[0].Split('#')[0];

        var lastSegment = cleanUri.Split('/').Last();

        if (string.IsNullOrEmpty(lastSegment) || cleanUri == Nav.BaseUri)
        {
            return "Home";
        }

        return lastSegment;
    }
}

