#kori-default {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 4px;
  cursor: default;
  height: 19px;
}
#kori-default p {
  font-family: "ArticulatCF";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
#kori-default .location {
  color: #73809E;
}
#kori-default .page-name {
  color: #485269;
}
#kori-default .vertical-divider {
  width: 1px;
  height: 100%;
  background: #485269;
}
#kori-default button {
  display: flex;
  width: 32px;
  height: 32px;
  padding: 8px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  border: 1px solid #4162DC;
  background: #5377FC;
  font-family: "ArticulatCF";
  font-size: 14px;
  font-style: normal;
  transition: all 0.3s ease-in-out;
}
#kori-default button svg {
  margin-top: 0 !important;
}
#kori-default button.icon-btn {
  background: #EEF2FA;
  border: 1px solid #EEF2FA;
}
#kori-default button.icon-btn svg {
  margin-top: 0 !important;
}
#kori-default button:hover {
  background: #EEF2FA;
  color: #5377FC;
  border-color: transparent;
}
#kori-default button:active {
  background: #EEF2FA;
  color: #4162DC;
  border-color: transparent;
}
