<div id="kori-texteditor">
    <div class="toolbar">
        <button alt="Bold"><Sparc.Kori.Icons.Toolbar.BoldIcon /></button>
        <button alt="Italic"><Sparc.Kori.Icons.Toolbar.ItalicIcon /></button>
        <button alt="Strikethrough"><Sparc.Kori.Icons.Toolbar.StrikethroughIcon /></button>
        <button alt="X2"><Sparc.Kori.Icons.Toolbar.X2Icon /></button>
        <button alt="Code"><Sparc.Kori.Icons.Toolbar.CodeIcon /></button>
        <button alt="Quote"><Sparc.Kori.Icons.Toolbar.QuoteIcon /></button>
        <button alt="Paragraph"><Sparc.Kori.Icons.Toolbar.ParagraphIcon /></button>
        <button alt="List"><Sparc.Kori.Icons.Toolbar.ListIcon /></button>
        <button alt="Link"><Sparc.Kori.Icons.Toolbar.LinkIcon /></button>
    </div>
</div>

<style>
    #kori-texteditor .toolbar button svg {
        margin: auto;
    }
</style>