<div id="kori-translation" class="kori-translation__options">
    <div class="first-language">
        <select>
            <option>English</option>
            <option>Spanish</option>
            <option>Italian</option>
            <option>Mandarin</option>
            <option>Japanese</option>
            <option>Thai</option>
        </select>
    </div>
    <div class="swap-translation">
        <button class="swap-btn"><SwapIcon /></button>
    </div>
    <div class="second-language">
        <select>
            <option>English</option>
            <option>Spanish</option>
            <option>Italian</option>
            <option>Mandarin</option>
            <option>Japanese</option>
            <option>Thai</option>
        </select>
    </div>
    <div class="kori-translation__header-actions">
        <button><VolumeIcon /></button>
    </div>
</div>
