<aside id="kori-search" class="kori-search @(Kori.Mode == "Search" ? "show" : "")" aria-label="Sidebar Navigation" onclick="event.stopPropagation()">
    <header>
        <div>
            <h5>Navigation</h5>
            <button class="close-icon" onclick="@Kori.CloseAsync" aria-label="Close search" aria-controls="kori-search">
                <img src="/_content/Sparc.Kori/icons/Close.svg" alt="Close" />
            </button>
        </div>
        <label>
            <img src="/_content/Sparc.Kori/icons/Search2.svg" alt="Search icon" />
            @* <input type="search" placeholder="Type to find..." aria-label="Search input" @bind-="@searchTerm" oninput="@Kori.SearchAsync" /> *@
            <input type="search" placeholder="Type to find..." aria-label="Search input" @bind="searchTerm" @bind:event="oninput" @bind:after="HandleSearchInput" />
        </label>
    </header>

    <hr />

    <nav aria-label="Page and Content Navigation">
        <article class="kori__content-container">
            <header>
                <img src="/_content/Sparc.Kori/icons/PageIcon.svg" alt="Page icon" />
                Page name
            </header>
            <ul>
                <li>
                    <img src="/_content/Sparc.Kori/icons/ContentIcon.svg" alt="Content icon" />
                    Content name
                </li>
                <li>
                    <img src="/_content/Sparc.Kori/icons/ContentIcon.svg" alt="Content icon" />
                    Content name
                </li>
                <li>
                    <img src="/_content/Sparc.Kori/icons/ContentIcon.svg" alt="Content icon" />
                    Content name
                </li>
            </ul>
        </article>
    </nav>
    
</aside>

@code {
    string? searchTerm = "";

    private async Task HandleSearchInput(ChangeEventArgs e)
    {
        searchTerm = e.Value?.ToString() ?? string.Empty;

        if (!string.IsNullOrWhiteSpace(searchTerm))
        {
            await Kori.SearchAsync(searchTerm);
            StateHasChanged(); 
        }
    }
}