:root {
    --White: #FFF;
    --Black: #000;
    --Gray-900: #1F232B;
    --Gray-800: #363E51;
    --Gray-700: #485269;
    --Gray-600: #5E6A85;
    --Gray-500: #73809E;
    --Gray-400: #8A97B8;
    --Gray-300: #A1AED1;
    --Gray-200: #CCD5EB;
    --Gray-100: #DDE5F5;
    --Gray-50: #EEF2FA;
    --Blue-900: #162B78;
    --Blue-800: #1E368E;
    --Blue-700: #2842A1;
    --Blue-600: #314DB4;
    --Blue-500: #4162DC;
    --Blue-400: #5377FC;
    --Blue-300: #708DF6;
    --Blue-200: #9BB0FF;
    --Blue-100: #B7C6FF;
    --Blue-50: #F1F3FE;
    --Light-Blue-500: #7AC4DF;
    --Light-Blue-400: #A0DEF5;
    --Light-Blue-300: #B8E9FB;
    --Light-Blue-200: #D9F5FF;
    --Light-Blue-100: #EAF9FF;
    --Brown-900: #352606;
    --Brown-800: #543C08;
    --Brown-700: #8A6109;
    --Brown-600: #BB830C;
    --Brown-500: #EDA60F;
    --Brown-400: #FFC240;
    --Brown-300: #FFD272;
    --Brown-200: #FFE1A0;
    --Brown-100: #FFF2D1;
    --Brown-50: #FFFDF8;
}