:root {
  --content-font-size: 16px;
  --heading-font-size: 24px;
  --line-height: 1.6;
  --content-line-height: 19px;
  --box-shadow: 8px 8px 0px 0px;
  --border-color: #363E51;
  --primary-color: #7AC4DF;
  --secondary-color: #4162DC;
  --accent-color: #FFC240;
  --box-shadow-black: #373E51;
  --text-color: #373E51;
  --bg-color: #F1F3FE;
  --light-blue: #41BBE9;
  --richcontent-max-width: 700px;
  --button-padding: 6px 16px;
  --font-size-h2: 47px;
  --font-size-h4: 19px;
  --content-line-height: 19px;
  --border-color: #363E51;
  --primary-color: #7AC4DF;
  --secondary-color: #4162DC;
  --accent-color: #FFC240;
  --text-color: #373E51;
  --bg-color: #F1F3FE;
  --light-blue: #41BBE9;
  --richcontent-max-width: 700px;
  --button-padding: 6px 16px;
  --font-size-h2: 47px;
  --font-size-h4: 19px;
}

@font-face {
  font-family: "Brother 1816";
  src: local("Brother 1816 Printed Bold"), local("Brother-1816-Printed-Bold"), url("/wwwroot/assets/fonts/Brother1816Printed-Bold.woff2") format("woff2"), url("/wwwroot/assets/fonts/Brother1816Printed-Bold.woff") format("woff"), url("/wwwroot/assets/fonts/Brother1816Printed-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Articulatcf CL";
  src: local("Articulatcf CL Normal"), local("Articulatcf-CL-Normal"), url("wwwroot/assets/fonts/Articulatcf-normal.otf") format("opentype"), url("wwwroot/assets/fonts/Articulatcf-normal.otf") format("opentype");
}
