@import '_Imports';
@import 'Html';

html {
    cursor: url('/assets/Arrow 24px.svg'), default !important;
}

button, a, label {
    &:hover {
        cursor: url('/assets/Link 24px.svg'), pointer !important;
    }
}

.kori-animation {
    &__lottie {
        width: 200px;
        height: auto;

        &.show {
            display: block;
        }
    }
}