@import '_Imports';
@import 'Html';

html {
    cursor: url('/assets/Arrow 24px.svg'), default !important;
}

button, a, label {
    &:hover {
        cursor: url('/assets/Link 24px.svg'), pointer !important;
    }
}

.kori-animation {
    &__still {
        display: block;

        &.show {
            display: none;
        }

        img {
            width: 300px;
            max-width: none;
        }
    }

    &__lottie {
        //display: none;

        &.show {
            display: block;
        }
    }
}