<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="@Assets["css/App.css"]" />
    <link rel="stylesheet" href="@Assets["Kori.styles.css"]" />
    <link rel="stylesheet" href="https://use.typekit.net/dda1jal.css">
    <link rel="icon" type="image/png" href="/assets/Kori Favicon 32.svg" />

    <script src="https://unpkg.com/@@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
    <script src="https://unpkg.com/@@lottiefiles/lottie-interactivity@latest/dist/lottie-interactivity.min.js"></script>
    <script src="https://unpkg.com/@@dotlottie/player-component@2.7.12/dist/dotlottie-player.mjs" type="module"></script>

    <title>Kori</title>

    <HeadOutlet @rendermode="new InteractiveServerRenderMode(false)" />
</head>

<body>
    <Sparc.Blossom.BlossomApp Program="Program" DefaultLayout="MainLayout" @rendermode=InteractiveServer />
    <script src="_framework/blazor.web.js"></script>
</body>

</html>
