body {
    font-family: "Brother 1816", sans-serif !important
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Brother 1816", sans-serif !important;
    margin: unset;
}

a {
    text-decoration: none;
}

p {
    margin-bottom: 1.5rem;
    font-family: 'Articulatcf CL', sans-serif !important;
}

img {
    max-width: 100%;
    display: block;
    height: auto;
}

section {
    padding: 1.5rem;
}

button, a.button {
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 22.08px;
    text-align: center;
    border-radius: 8px;
    border: 1px solid #363E51;
    gap: 15px;
    padding: 8px 16px;
    background-color: #5377FC;
    border-color: #4162DC;
    color: #fff;
    margin-right: 18px;

    img {
        max-width: 24px;
        display: inline;
    }

    &.secondary {
        color: #363E51;
        background-color: white;
    }
}