.instructions {
    display: grid;
    grid-template-columns: 1fr;
    background: #EBEBE8;
    gap: 2px;

    @media (min-width: 800px) {
        grid-template-columns: 1fr 1fr;
    }

    @media (min-width: 1200px) {
        grid-template-columns: 1fr 1fr 1fr;
    }

    h1 {
        max-width: 300px;
    }

    article {
        background: var(--background-primary);
        padding: 48px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 32px;

        header {
            display: flex;
            gap: 9px;
            align-items: center;

            span {
                font-family: var(--text-serif-800);
                font-size: 1.75rem;
                letter-spacing: -0.0525rem;
            }
        }

        &.hero {
            header {
                flex-direction: column;
                justify-content: space-between;
                align-items: flex-start;
                min-height: 340px;
            }
        }
    }

    img {
        max-width: 240px;
        align-self: center;
    }
}

.faq {
    background: #262626;
    min-height: 800px;
}

.buttons {
    display: grid;
    align-self: center;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.crosslinks {
    display: grid;
    grid-template-columns: 1fr;

    @media (orientation: landscape) {
        grid-template-columns: 1fr 1fr;
    }

    article {
        padding: 48px 24px;
        display: flex;
        flex-direction: column;
        gap: 32px;
        align-items: center;

        @media (orientation: landscape) {
            padding: 82px;
        }
    }

    figure {
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: center;
    }

    figcaption {
        font-family: var(--text-serif-800);
        font-size: 1.75rem;
        letter-spacing: -0.0525rem;
        text-align: center;
    }

    .tovik {
        background: #d9e8ff;
    }

    .youtube {
        background: #ffa15d;
    }
}
