h1 {
    text-align: center;
}

p {
    max-width: 600px;
    text-align: center;
}

.hero, .features {
    max-width: 1200px;
    margin: 0 auto;
}

.hero {
    padding: 24px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: center;
    justify-content: center;
}

ul.features {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
    gap: 20px;
    width: 100%;
    padding: 32px 0;
    margin-bottom: 48px;

    li, figure {
        display: flex;
        flex-direction: column;
        gap: 16px;
        justify-content: flex-start;
        align-items: center;
    }

    li {
        border-radius: 100px;
        border: 8px solid #f2f2ec;
        background: #fcfcf6;
        padding: 32px;
    }

    figcaption {
        font-size: 1.25rem;
        font-family: var(--text-serif-800);
        letter-spacing: -0.0375rem;
        text-align: center;
    }
}

h2 {
    font-size: 0.875rem;
    border-radius: 32px;
    border: 4px dashed #aea9ff;
    padding: 11px 10px;
    text-transform: uppercase;
    text-align: center;
}

.tools {
    background: var(--background-inverse);
    color: var(--text-inverse);
    padding: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 64px;

    h2 {
        border-color: #FFA15D;
        color: white;
    }

    ul {
        display: grid;
        gap: 20px;
        max-width: min(90vw, 1200px);
        grid-template-columns: repeat(2, 400px);
    }

    li {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16px;
    }

    figure {
        height: 130px;
    }

    figcaption {
        font-size: 1.25rem;
        font-family: var(--text-serif-800);
        text-align: center;
    }
}