@page "/"

<Sparc.Kori.KoriApp>
    <article>
        <h1>@K["Hi. Welcome to Kori."]</h1>
        <h2>@K["Wait, what?!??"]</h2>
    </article>
</Sparc.Kori.KoriApp>

@inject Sparc.Kori.KoriLocalizer K
@code {
    
}